@{
    ViewData["Title"] = "Criar vendas";
}

<div class="text">
    <h1>Cadastrar uma novo venda</h1>
    <hr>
</div>


<form action="CreateResult" method="post">
    <table>
        <tr>
            <td>ID Venda:</td>
            <td><input type="text" name="vendaID" id="vendaID" class="form-control" required></td>
        </tr>

        <tr>
            <td>ID Pedido:</td>
            <td><input type="text" name="pedidoId" id="pedidoId" class="form-control" required></td>
        </tr>

        <tr>
            <td>ID do Cliente:</td>
            <td><input type="text" name="ClienteId" id="ClienteId" class="form-control" required></td>
        </tr>

        <tr>
            <td>Data Venda:</td>
            <td><input type="text" name="DataVenda" id="DataVenda" class="form-control" required></td>
        </tr>

        <tr>
            <td>Desconto:</td>
            <td><input type="text" name="Desconto" id="Desconto" class="form-control" required></td>
        </tr>

        <tr>
            <td>Valor Bruto:</td>
            <td><input type="text" name="ValorBruto" id="ValorBruto" class="form-control" required></td>
        </tr>

        <tr>
            <td> <button type="submit" class="btn btn-primary">Enviar</button></td>
        </tr>

    </table>
</form>